body{

    background-image: url("https://i.pinimg.com/564x/4a/89/d7/4a89d7d1e3b31c877fec843fa4f0493a.jpg") ;
    background-size: 400px 8500px;
    background-position: left;
    background-repeat: no-repeat;
    display: absolute;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
 
}

.hide-background {
    background-image: none !important;
}


.container {
    max-width: 800px; /* Limita el ancho máximo del contenido */
    padding: 20px;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
}

.perfil {
    margin-top: 20px;
    margin-left: 55px;
    border-width: 2px;
    border-color: rgb(46, 137, 211);
    border-style: solid;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(17, 17, 192);
}

.titulo{ 
    text-align: left;
    margin-right: 750px;
    margin-left: 45px;
    color: rgb(221, 166, 93);
    margin-top: 50px;
    
}

.titulo_2{
    text-align: left;
    margin-right: 750px;
    margin-left: 35px;
    color: rgb(136, 136, 25);
}

.habilidades-especificas {
    text-align: left;
    margin-right: 750px;
    margin-left: 35px;
    color: rgb(136, 136, 25);
}

.titulo_3{
    text-align: left;
    margin-right: 750px;
    margin-left: 35px;
    color: rgb(136, 136, 25);
}

.txt_1{
   
    margin-left: 10px;
    margin-right: 900px;
    color: rgb(230, 221, 221);
    display: none;
}

.txt_2{
   
    margin-left: 10px;
    margin-right: 900px;
    color: rgb(230, 221, 221);
}

.txt_3{
   
    margin-left: 10px;
    margin-right: 900px;
    color: rgb(230, 221, 221);
}

.parrafo_1{
    
    margin-left: 600px;
    color: rgba(165, 42, 42, 0.795);
}

.parrafo_2{
    
    margin-bottom: 90px;
    margin-left: 600px;
    color: rgba(5, 4, 4, 0.795);
    margin-left: 710px;
}

.parrafo_3{
    
    
    color: rgba(5, 4, 4, 0.795);
    margin-left: 550px;
  
}

.parrafo_4{
    
    
    color: rgba(5, 4, 4, 0.795);
    text-align: right;
  
}



.column-left {
    flex: 1;
    margin-right: 20px;
}

.column-right {
    flex: 1;
    margin-left: 300px;
    text-align: center;
    margin-top: 30px;
    
}

.column-left, .column-right {
    column-count: 1;
    column-gap: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px; 
}

.texto1{

    margin-top: 80px;
    margin-right: 550px;
}


.texto2{
    float:center; 
    width:70%;
    margin-left:175px ;
    text-align: justify;
    margin-top: 80px;
}

.texto3{
    float:center; 
    width:70%;
    margin-left:175px ;
    text-align: justify;
    margin-top: 50px;
}

.texto4{
    float:center; 
    width:70%;
    margin-left:175px ;
    text-align: justify;
    margin-top: 50px;
}

.texto5{
    float:center; 
    width:70%;
    margin-left:175px ;
    text-align: justify;
    margin-top: 50px;
}

.linea-1{
    color: rgb(223, 175, 112);
}

.nombre {
    margin-left: 100px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -50px; /* Ajusta este valor para mover el texto hacia arriba */
    color: rgb(223, 175, 112);
}

.descripcion {
  
    text-align: center;
    margin-left: 100px;
    margin-bottom: 80px;
}
h2{
    color: rgb(221, 166, 93);
}

@media only screen and (max-width: 1200px) {
    .container {
        flex-direction: column;
    }
}

.custom-button {
    margin-left: 55px;
    margin-top: 10px;
  }

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 600px) {
    .column-left, .column-right {
        width: 100%;
        margin: 0;
        padding: 10px;
    }
}

button {
    display: flex;
    align-items: center;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    background: #ad5389;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
    margin-left: 100px;
    margin-top: 30px;
  }
  
  button svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  button span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  button:hover svg {
    transform: translateX(5px) rotate(90deg);
  }
  
  button:hover span {
    transform: translateX(7px);
  }
  

 